body { background: url(/static/background.jpg)  no-repeat center center fixed;}

.col-lg-12 {
    float: none;
}

li {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

.hidden {
    display: none;
}
.larger {
  font-size: 2em;
}

.brand a, .address-bar a {
	color: white;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after { 
    content: " \25B4\25BE" 
}

